.background {
    background-image: url(../../assets/media/images/AuthorizeBackground/AuthorizeBackground.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.condition-link {
    text-decoration: underline;
}

.card {
    transform: scale(0.5);
    opacity: 0;
}