.background {
    background-image: url(../../assets/media/images/AuthorizeBackground/AuthorizeBackground.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}